<div class="pages">
    <div data-page="directions" class="page">

        <div class="navbar ">
            <div class="navbar-inner ">
                <div class="left sliding">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>Back</span>
                    </a>
                </div>
                <div class="center sliding">
                    Directions
                </div>
                <div class="right sliding">
                    <a href="#" class="link update-current-location">
                        <i class="f7-icons">navigation_fill</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class=" content-block stats" style="margin: 0;">
                <div class="row content-block-inner">
                    <div class="col-auto distance">km</div>
                    <div class="col-auto duration">h</div>
                </div>
            </div>
            <div class="map" id="map"></div>
        </div>
    </div>
</div>
