.auto-size {
    max-width: 100%;
    margin: auto;
    display: block;
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.fb-login-panel {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.map {
    height: 100%;
}

.pac-container {
    z-index: 20000 !important;
}

.stats .col-auto {
    margin-left: auto;
}

.item-input.row.origin .col-20, .item-input.row.destination .col-20 {
    text-align: center;
    margin: auto;
}
